#welcome {
  background: linear-gradient(to right top, #00d4ff, #390281);
  padding: 4rem 10%;
  display: flex;
  justify-content: space-between;
}

#welcome header {
  display: flex;
  align-items: flex-start;
  margin: 3rem 0px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  flex: 1;
  gap: 1rem;
}

.sample {
    margin: 3rem 0px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 300px;
    padding: 30px;
}

#welcome img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border: 5px solid white;
  border-radius: 12px;
  background-color: #ffe1bf;
  transform: rotateZ(-5deg);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

#welcome h2 {
  font-size: 3.5rem;
  margin: 0 0 0 2rem;
  color: #e4e4e4;
  width: 10rem;
}

#welcome p {
  color: black;
  font-size: 1rem;
}

#latest-posts {
  background-color: white;
  border-radius: 12px;
  width: 40rem;
  margin: 0rem auto 2rem auto;
}

#latest-posts h2 {
  text-align: center;
}

#latest-posts ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

#latest-posts li {
  flex: 1;
}

#about {
  text-align: center;
  background-color: white;
  margin-top: 5rem;
}

#about h2 {
  font-size: 2rem;
}

#about p {
  font-size: 1rem;
  color: #353535;
}

form p label {
  display: none;
}
